
/* float-MEMO-UI-style */
#memo-box {
    position: fixed;
    right: 20px;
    /*top: 100px;*/
    bottom: 80px;
    width: 240px;
    /*background: #fffbe6;*/
    background: #BACEE0;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

    border-radius: 10px;
}

#memo-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#memo-list li {
    background: #fff;
    /*border: 1px solid #ddd;*/
    /*margin-bottom: 5px;*/
    margin-bottom: 5px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
}

.memo-actions button {
    margin-top: 5px;
    /*margin-right: 5px;*/
    margin-right: 0px;
    font-size: 12px;
    /*background: lightpink;*/
    background: unset;
}

#memo-box button {
    /*width: 100%;*/
    /*background: yellow;*/
    border: unset;
    border-radius: 5px;
}


#memo-toggle {
    /*margin-top: 0px;*/
    background: unset;
    border: unset;
    font-size: 20px;
}
#memo-body {
    margin-top: 10px;
}
#memo-box textarea {
    width: 100%;
    height: 80px;

}
/*#memo-box textarea:focus {*/
/*    border-color: blue;*/
/*    border: unset;*/
/*}*/
#memo-box #memo-text {
    max-width: 100%;
    min-height: 120px;
    border: unset;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
}

#memo-add {
    margin-top: 5px;
    width: 100%;
    padding: 5px 0px;
    /*border: unset;*/
    /*border-radius: unset;*/
    background-color: #ffde67;
}

#memo-list li:nth-child(1) {
    /*color: red;*/
    background-color: #ffe37d;
}

#memo-list li:nth-child(5) {
    background-color: #ef7777;
}
#memo-list li:nth-child(6) {
    background-color: #8e99ab;
}
#memo-list li:nth-child(7) {
    background-color: #ffdbdb;
}